<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1 "></div>
    <div class="col-lg-11 ">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa inventore numquam quas praesentium tempora voluptatem impedit, molestiae veritatis sint harum molestias temporibus officiis magnam quo id neque magni? Qui, molestiae?</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa inventore numquam quas praesentium tempora voluptatem impedit, molestiae veritatis sint harum molestias temporibus officiis magnam quo id neque magni? Qui, molestiae?</p>
        </ul>

        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa inventore numquam quas praesentium tempora voluptatem impedit, molestiae veritatis sint harum molestias temporibus officiis magnam quo id neque magni? Qui, molestiae?</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa inventore numquam quas praesentium tempora voluptatem impedit, molestiae veritatis sint harum molestias temporibus officiis magnam quo id neque magni? Qui, molestiae?</p>
        </ul>
        <ul>
            <li><h1>Trabajo 4</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa inventore numquam quas praesentium tempora voluptatem impedit, molestiae veritatis sint harum molestias temporibus officiis magnam quo id neque magni? Qui, molestiae?</p>
        </ul>

    </div>
</div>
