<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WhatsApp Image 2021-03-04 at 19.10.00.jpeg" 
        class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Mayuza Arias Carlos Roberto</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequatur accusantium veritatis voluptatibus corrupti in 
            laudantium excepturi animi eius magnam pariatur tenetur
             ducimus velit distinctio totam autem officiis,
             cumque nam modi.</p>

        </span>
    </div>

</div>


