<div class="row">
    <h1>Proyectos Realizados</h1>
    <!--<div class="contenedor">-->
        <div class="col-sm-12 col-md-7 col-lg-7 texto1">
            <h2>Pagina web Multilideres</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic distinctio nesciunt aperiam, soluta nisi earum nihil ratione. Quos iure illo natus vero aperiam, sint est voluptas voluptatum neque porro voluptate.}</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen1">
            <img src="../../../assets/proyecto Multilideres.jpeg" class="img-fluid img-multilideres">

        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 texto2">
            <h2>Proyecto Final Argentina Programa</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic distinctio nesciunt aperiam, soluta nisi earum nihil ratione. Quos iure illo natus vero aperiam, sint est voluptas voluptatum neque porro voluptate.}</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen2">
            <img src="../../../assets/portfolio.png" class="img-fluid img-multilideres">

        </div>
    <!--</div>-->
</div>
